@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.cabecalho{
    background-color: rgba(235, 234, 234, 0.364);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.cabecalho > a {
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-weight: bold;
}

nav.cabecalho > a:hover{
    background-color: rgba(88, 88, 88, 0.132);
}

header{
    padding: 190px;
    color: white;
    background-color: black;
    background-image: linear-gradient(160deg, #43261A, black);
}

header > h1{
    font-size: 3em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
}

header > a{
    text-decoration: none;
    color: white;
    background-color: #FE7F40;
    border-radius: 5px;
    padding: 8px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
