@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.cabecalho{
    background-color: rgba(235, 234, 234, 0.364);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav.cabecalho > a {
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-weight: bold;
}

nav.cabecalho > a:hover{
    background-color: rgba(88, 88, 88, 0.132);
}

header{
    padding: 190px;
    color: white;
    background-color: black;
    background-image: linear-gradient(160deg, #43261A, black);
    margin-bottom: 30px;
}

header > h1{
    font-size: 3em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p{
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
}

header > a{
    text-decoration: none;
    color: white;
    background-color: #FE7F40;
    border-radius: 5px;
    padding: 8px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo{
    padding: 30px;
    height: 30px;
    width: 400px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

section.poesia{
    background-color: rgba(250, 235, 215, 0.373);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    
}

#primeira{
    background-image: url("../background001.jpg");
    color: white;
    background-attachment: fixed;
    font-weight: bold;
}

#segunda{
    background-image: url("../background001.jpg");
    color: white;
    font-weight: bold;
    background-attachment: fixed;
    margin-bottom: 10px;
}

.censo{
    padding-top: 10px;
    background-color: #EDE4DD;
    width: 460px;
    height: 130px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 8px;
}
.censo > h2{
    font-size: 1.8em;
    text-decoration: underline;
}

.censo > p{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.censo > a{
    background-color: #FE7F40;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 0.7em;
}
.emalta{
    background-color: #111827;
    padding: 5px;
    width: 450px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

.primeiralinha{
    display: inline;
    text-align: center;
    margin-left: 50px;
}

#um{
    padding: 30px;
    margin-right: 70px;
    border: 1px solid black;
    border-radius: 4px;
}

#dois{
    padding: 30px;
    border: 1px solid black;
    border-radius: 4px;
}