@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.cabecalho{
    background-color: white;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}